

PORT=5000

# Frontend Client URL (for CORS)
CLIENT_URL=http://localhost:5173

# Main Database (Standard Non-SRV format to bypass Windows/Router querySrv EBADRESP DNS bug)
MONGODB_URI=mongodb://manikantakotti9275_db_user:Manikanta9275@ac-w5xnjhs-shard-00-00.geazsav.mongodb.net:27017,ac-w5xnjhs-shard-00-01.geazsav.mongodb.net:27017,ac-w5xnjhs-shard-00-02.geazsav.mongodb.net:27017/pdf_drive?ssl=true&authSource=admin&retryWrites=true&w=majority

# Logging Database
LOG_MONGODB_URI=mongodb://manikantakotti9275_db_user:Manikanta9275@ac-w5xnjhs-shard-00-00.geazsav.mongodb.net:27017,ac-w5xnjhs-shard-00-01.geazsav.mongodb.net:27017,ac-w5xnjhs-shard-00-02.geazsav.mongodb.net:27017/pdf_drive_logs?ssl=true&authSource=admin&retryWrites=true&w=majority

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME=usii2lqf
CLOUDINARY_API_KEY=839629789216113
CLOUDINARY_API_SECRET=wScStRDSX6tH5eAGd2D1e3pp-Mw

# Authentication
JWT_SECRET=d8571df5040c2dce2110b65ce4633bc08be869160aae669b3419e1c06a1e47db83ce2529e2a0fb3f2b9d68522a862558b337e957c7c8fdaf126323a17ffdb309

# Administrator 4-Digit PIN
ADMIN_PIN=9275

